#tarot {
    background-image: url(src/clouds/tarot/img/cloud.png);
}

#tarot .content {
    background-image: url(src/img/cloud_big_1.png);
}

#tarot .satelite {
    background-image: url(src/clouds/tarot/img/animation_fold.gif);
}

#tarot .galery {
    margin-top: 60px;
    transform: translate(-50%, -50%);
}

#tarot .galery>.img-cap {
    width: 80px;
    height: 138px;
    margin: 10px 10px;
    position: relative;
    float: left;
}

#tarot .galery>.img-cap:nth-of-type(13) {
    clear: left;
}

#tarot .galery>.chosen {
    width: 400px;
    height: 330px;
    top: 472px;
    left: 50%;
    margin-top: 20px;
}

#tarot .galery>.chosen>.img {
    width: 50%;
    height: 100%;
    margin-right: 10px;
}

#tarot .galery>.chosen>.cap {
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

#tarot .galery>.chosen>.cap>.cap {
    padding: 20px;
    background-color: white;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
}