#tarot {
    background-image: url(src/clouds/tarot/img/cloud.png);
}

#tarot .content {
    background-image: url(src/img/cloud_big_1.png);
}

#tarot .satelite {
    background-image: url(src/clouds/tarot/img/animation_fold.gif);
}

#tarot .galery {
    margin: 60px 167px;
}

#tarot .galery>.img-cap {
    width: 80px;
    height: 138px;
    margin: 10px 10px;
    position: relative;
    float: left;
}

#tarot .galery>.chosen {
    width: 402px;
    height: 330px;
    top: 70%;
    left: 50%;
}