#palmreading {
    background-image: url(src/clouds/palmreading/img/cloud.png);
}

#palmreading .content {
    background-image: url(src/img/cloud_big_2.png);
}

#palmreading .content .readable {
    margin-top: -30px;
}