html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: arial;
}

body {
    cursor: url(img/cursor.png), auto;
}

.hidden {
    transition-property: opacity, display;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    opacity: 0;
    display: none;
}

.displayed {
    display: flex !important;
}

.shown {
    opacity: 1 !important;
}

.shown07 {
    opacity: .7 !important;
}

#header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    border-bottom: 4px;
    border-color: black;
    border-style: solid;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    user-select: none;
}

#close {
    background-image: url(img/cloud_big_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    z-index: 3;
}

.satelite {
    background-image: url(img/cloud_big_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-property: left, top;
    transition-duration: .2s;
    transition-timing-function: linear;
    height: 300px;
    width: 300px;
    position: fixed;
    left: 80%;
    top: 20%;
}

.cloud {
    position: absolute;
    transition-property: top, left;
    transition-duration: .1s;
    transition-timing-function: linear;
    background-position: center;
    background-size: cover;
    width: 210px;
    height: 120px;
}

.content {
    background-image: url(img/cloud_big_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 350px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 320px;
    height: 380px;
    width: 500px;

    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    flex-flow: wrap;
}

.content .title {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.content .readable {
    font-size: 14px;
    max-height: 330px;
    overflow-y: auto;
}