#astrology {
    background-image: url(src/clouds/astrology/img/cloud.png);
}

#astrology .content {
    background-image: url(src/img/cloud_big_1.png);
}

#astrology .satelite.signs {
    background-image: url(src/clouds/astrology/img/animation_signs.gif);
}

#astrology .satelite.planets {
    background-image: url(src/clouds/astrology/img/animation_planets.gif);
}

#astrology .galery>.chosen {
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
}

#astrology .galery>.img-cap {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#astrology .galery>.chosen>.img,
#astrology .galery>.chosen>.cap {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

#astrology .galery>.chosen>.cap>.cap {
    padding-top: 26px;
}

#astrology .galery>.chosen>.cap>.cap h3 {
    text-align: center;
}

#astrology .galery>.chosen>.img {
    background-size: cover;
    background-image: url(src/img/planetbackground.png);
}

#astrology .galery>.chosen>.img>img {
    display: none;
}